{
  "extends": ["codica"],
  "globals": {
    "L": "readonly"
  },
  "rules": {
    "arrow-body-style": ["error", "as-needed"],
    "import/no-unresolved": [
      "error",
      {
        "ignore": [
          "@views",
          "@components",
          "@contexts",
          "@modules",
          "@utilities",
          "@shared"
        ]
      }
    ]
  }
}
